.navi-flex {
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  width: 97%;
  height: 50px;
  justify-content: center;
  background-color: #c9cfd4;
  background-color: white;
  border-bottom: 1px solid #c1cbd4;
}
.navi-list {
  padding: 0px 20px;
  border-right: none;
  font-family: "Akshar", sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

li {
  display: inline;
  margin: 0;
  float: left;
  border-right: 1px solid #bbb;
  color: rgb(61, 61, 61);
}
li:last-child {
  border-right: none;
}
a {
  display: block;
  padding: 2px 8px;
  color: black;
  text-decoration: 0;
  transition: 0.1s;
}
a:hover {
  text-decoration: underline;
  transition: 0.2s;
}

.container {
  display: grid;
  grid-template-areas:
    "hd hd hd hd hd hd"
    "mntop mntop mntop mntop mntop mntop"
    "mnbtm mnbtm mnbtm mnbtm mnbtm mnbtm"
    "ft ft ft ft ft ft";
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 80px 500px 400px;
}
.navigation-divi {
  grid-area: hd;
}
.aboutme-parent-divi {
  display: flex;
  grid-area: mntop;
  background-color: rgb(240, 238, 238);
  margin-top: 40px;
  border-radius: 20px 20px 0px 0px;
}
.aboutme-divi {
  margin: 40px 80px;
}
.my-photo {
  width: 950px;
  height: 350px;
  border-radius: 70px;
  margin: 50px 50px 50px 0px;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  line-height: 5px;
  margin-bottom: 50px;
}
p {
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  text-align: justify;
  text-justify: inter-word;
}
.news-divi {
  grid-area: mnbtm;
  background-color: #e6ccb2;
  border-radius: 0px 0px 20px 20px;
}
.foot-divi {
  grid-area: ft;
}

.news-letter {
  margin-top: 60px;
  height: 220px;
  padding: 10px 85px;
  max-width: 950px;
  width: 750px;
  height: 300px;
  text-align: left;
  line-height: 32px;
}
h3 {
  font-size: 2.2em;
  font-family: "Raleway", sans-serif;
  line-height: 40px;
}
.message-two {
  margin-top: 20px;
}
.subscribe {
  border-radius: 30px;
  height: 52px;
  width: 100px;
  border: 1px solid #768088;
  background-color: #dbc6b1;
  color: #49525a;
}
#subscribe-input {
  border-radius: 30px;
  height: 46px;
  margin-top: 1em;
  text-align: center;
  border: 1px solid #a2acb4;
  width: 350px;
  border: 1px solid #768088;
  background-color: #dbc6b1;
  color: black;
}
.subscribe:hover {
  cursor: pointer;
  background-color: #49525a;
  color: blanchedalmond;
  transition: 0.2s;
}

#foot {
  padding: 3em;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  flex: 1em;
  margin: 0em 20px;
  background-color: #eedac7;
  padding-top: 15px;
}

.foot-link {
  flex: 1;
  max-width: 100%;
  display: flex;
  justify-content: right;
  align-items: left;
  background-color: #e6ccb2;
  letter-spacing: 2px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  color: #49525a;
}
@media (min-width: 100px) and (max-width: 545px) {
  li {
    border-right: 0;
  }
  .foot-link {
    max-width: 0;
    display: 0;
    justify-content: center;
    align-items: center;
    background-color: #eedac7;
  }
  .navi-flex {
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 0;
    line-height: 20px;
    border: 0;
    height: 80px;
  }
  .container {
    display: grid;
    grid-template-areas:
      "hd hd hd "
      "mntop mntop mntop"
      "mnbtm mnbtm mnbtm"
      "ft ft ft";
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 120px 1300px 550px;
  }
  .my-photo {
    grid-area: pic;
    width: 0px;
    margin: 0;
  }
  h2 {
    line-height: normal;
  }
  .news-letter {
    width: 225px;
    padding: 10px 45px;
  }
  .aboutme-divi {
    margin: 40px 30px;
  }

  .subscribe {
    margin-top: 15px;
    width: 100px;
  }
  #subscribe-input {
    width: 200px;
  }
}
