.navi-flex {
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  width: 97%;
  height: 50px;
  justify-content: center;
  /* background-color: #879199; */
  background-color: #c9cfd4;
  background-color: white;
  border-bottom: 1px solid #c1cbd4;
}
.navi-list {
  padding: 0px 20px;
  border-right: none;
  font-family: "Akshar", sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #eae0d5; */
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 14px;
  z-index: 1;
}

#dropdown:hover .dropdown-content {
  display: block;
}
/* #logo {
        display: inline;
      } */
li {
  display: inline;
  margin: 0;
  /* padding: 0 20px; */
  /* text-align: right; */
  float: left;
  border-right: 1px solid #bbb;
  color: rgb(61, 61, 61);
}
li:last-child {
  border-right: none;
}
a {
  display: block;
  padding: 2px 8px;
  color: black;
  text-decoration: 0;
  transition: 0.1s;
}
a:hover {
  text-decoration: underline;
  transition: 0.2s;
}

.parent {
  display: grid;
  grid-template-areas:
    "hd hd hd hd hd hd"
    "mntop mntop mntop mntop mntop mntop"
    "mnbtm mnbtm mnbtm mnbtm mnbtm mnbtm"
    "ft ft ft ft ft ft";
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 80px 1550px 400px;
}
.head-gri {
  grid-area: hd;
}
.main-gri {
  grid-area: mntop;
  background-color: rgb(240, 238, 238);
  margin-top: 40px;
  border-radius: 20px 20px 0px 0px;
  /* border: 2px solid red; */
}
.blogpost-divi {
  display: flex;
  width: 100%;
  height: 600px;
  margin-top: 20px;
  justify-content: space-evenly;
  /* border: 2px solid red; */
}
.post-divi {
  width: 600px;
  height: 640px;
  /* text-align: center; */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 50px;
  /* border: 2px solid red; */
}
img {
  width: 97%;
  border-radius: 20px;
  margin-bottom: 20px;
}
img:hover {
  cursor: pointer;
  width: 550px;
  max-height: 520px;
  border-radius: 20px;
  transition: 0.3s;
  opacity: 0.6;
}
.post-heading {
  text-align: center;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-decoration: bold;
  padding: 20px 0;
}
.post-caption {
  line-height: 30px;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Roboto", sans-serif;
}

.foot-gri {
  grid-area: ft;
}
.subscribe-gri {
  grid-area: mnbtm;
  background-color: #e6ccb2;
  border-radius: 0px 0px 20px 20px;
}
.news-letter {
  margin-top: 60px;
  height: 220px;
  padding: 10px 85px;
  max-width: 950px;
  width: 750px;
  height: 300px;
  text-align: left;
  line-height: 32px;
}
h1 {
  font-size: 2.2em;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 0;
  font-size: 5em;
}
h2 {
  font-size: 2.2em;
  font-family: "Raleway", sans-serif;
  line-height: 40px;
}
.message-two {
  margin-top: 20px;
}
.subscribe {
  border-radius: 30px;
  height: 52px;
  width: 100px;
  border: 1px solid #768088;
  background-color: #dbc6b1;
  color: #49525a;
}
#subscribe-input {
  border-radius: 30px;
  height: 46px;
  margin-top: 1em;
  text-align: center;
  border: 1px solid #a2acb4;
  width: 350px;
  border: 1px solid #768088;
  background-color: #dbc6b1;
  color: black;
}
.subscribe:hover {
  cursor: pointer;
  background-color: #49525a;
  color: blanchedalmond;
  transition: 0.2s;
}

#footer {
  padding: 3em;
  /* display: ruby-; */
  /* align-items: stretch;
        justify-content: space-evenly; */
  border-radius: 10px;
  text-align: center;
  flex: 1em;
  margin: 0em 20px;
  background-color: #eedac7;
  padding-top: 15px;
}

.footer-link {
  flex: 1;
  max-width: 100%;
  display: flex;
  justify-content: right;
  align-items: left;
  background-color: #e6ccb2;
  letter-spacing: 2px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}
